{% extends "base.html" %}
{% load dynasty_interface %}
{% block content %}
<div class="col-md-6">
    <h3><a href="{% url 'team' game.home_team.name|lower %}">{{ game.home_team.name }}</a></h3>
    <div class="panel panel-default">
        <table class="table table-striped">
            <thead>
            <tr><td>Player</td><td>Position</td><td>FG M/A</td><td>Steals</td><td>Points</td></tr>
            </thead>
            <tbody>

            {% for stat in home_stats %}
            <tr>
                <td>{{ stat.player.name }}</td>
                <td>{{ stat.player.primary_position|position_short }}</td>
                <td>{{ stat.field_goals }}/{{ stat.field_goals_attempted }}</td>
                <td>{{ stat.steals }}</td>
                <td>{{ stat.points }}</td>
            </tr>
            {% empty %}
                {% for player in game.home_team.starters %}
                    <tr>
                        <td>{{ player.name }}</td>
                        <td>{{ player.primary_position|position_short }}</td>
                        <td>0/0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                {% endfor %}
            {% endfor %}
                <tr>
                    <td>Total</td>
                    <td></td><td></td><td></td>
                    <td>{{ game.homeScore }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="col-md-6">

    <h3><a href="{% url 'team' game.away_team.name|lower %}">{{ game.away_team.name }}</a></h3>
    <div class="panel panel-default">
        <table class="table table-striped">
            <thead>
            <tr><td>Player</td><td>Position</td><td>FG M/A</td><td>Steals</td><td>Points</td></tr>
            </thead>
            <tbody>
            {% for stat in away_stats %}
            <tr>
                <td>{{ stat.player.name }}</td>
                <td>{{ stat.player.primary_position|position_short }}</td>
                <td>{{ stat.field_goals }}/{{ stat.field_goals_attempted }}</td>
                <td>{{ stat.steals }}</td>
                <td>{{ stat.points }}</td>
            </tr>
            {% empty %}
                {% for player in game.away_team.starters %}
                    <tr>
                        <td>{{ player.name }}</td>
                        <td>{{ player.primary_position|position_short }}</td>
                        <td>0/0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                {% endfor %}
            {% endfor %}
            <tr>
                <td>Total</td>
                <td></td><td></td><td></td>
                <td>{{ game.awayScore }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

{% endblock %}