{% extends "base.html" %}
{% block title %}Standings - Dynasty{% endblock %}

{% block content %}
<!-- eastern conference -->

<div class="col-md-6">
	<h3>Eastern Conference</h3>
	<div class="panel panel-default">
		<div class="panel-heading">Northeast Division</div>
		<table class="table table-striped"><thead>
			<tr><td>Team</td><td>%</td><td>W</td><td>L</td></tr></thead>
			<tbody>
				{% for team in divs.0 %}
				<tr>
					<td><a href="{% url 'dynasty.views.teams' %}{{ team.name|lower }}">{{ team.name }}</a></td>
					<td>{{ team.win_pct|floatformat:3 }}</td>
					<td>{{ team.wins }}</td>
					<td>{{ team.losses }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">Southeast Division</div>
		<table class="table table-striped"><thead>
			<tr><td>Team</td><td>%</td><td>W</td><td>L</td></tr></thead>
			<tbody>
				{% for team in divs.1 %}
				<tr>
					<td><a href="{% url 'dynasty.views.teams' %}{{ team.name|lower }}">{{ team.name }}</a></td>
					<td>{{ team.win_pct|floatformat:3 }}</td>
					<td>{{ team.wins }}</td>
					<td>{{ team.losses }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
<!-- western conference -->

<div class="col-md-6">
	<h3>Western Conference</h3>
	<div class="panel panel-default">
		<div class="panel-heading">Northwest Division</div>
		<table class="table table-striped"><thead>
			<tr><td>Team</td><td>%</td><td>W</td><td>L</td></tr></thead>
			<tbody>
				{% for team in divs.2 %}
				<tr>
					<td><a href="{% url 'dynasty.views.teams' %}{{ team.name|lower }}">{{ team.name }}</a></td>
					<td>{{ team.win_pct|floatformat:3 }}</td>
					<td>{{ team.wins }}</td>
					<td>{{ team.losses }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">Southwest Division</div>
		<table class="table table-striped"><thead>
			<tr><td>Team</td><td>%</td><td>W</td><td>L</td></tr></thead>
			<tbody>
				{% for team in divs.3 %}
				<tr>
					<td><a href="{% url 'dynasty.views.teams' %}{{ team.name|lower }}">{{ team.name }}</a></td>
					<td>{{ team.win_pct|floatformat:3 }}</td>
					<td>{{ team.wins }}</td>
					<td>{{ team.losses }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock %}