{% extends "base.html" %}
{% load dynasty_interface %}
{% block title %}Teams - Dynasty{% endblock %}
{% block content %}

<h1>{{ team.name }} ({{ team.wins }}-{{ team.losses}})</h1>
<ul class="nav nav-tabs">
  <li class="active"><a href="#roster" data-toggle="tab">Roster</a></li>
  <li><a href="#schedule" data-toggle="tab">Schedule</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active" id="roster">
	<table class="table table-striped table-hover table-condensed"><thead>
		<tr>
		<td>Name</td>
		<td>Position</td>
		<td>Age</td>
		<td>Shooting</td>
		<td>Skill</td>
		<td>Stamina</td>
	</tr>
	</thead><tbody>
	{% for player in team.player_set.all %}
	<tr>
		<td>{{ player.name }}</td>
		<td>{{ player.primary_position|position_short }}
			{% if player.secondary_position != 0 %}
			| {{ player.secondary_position|position_short }}
			{% endif %}</td>
		<td>{{ player.age }}</td>
		<td>{{ player.shooting }}</td>
		<td>{{ player.skill }}</td>
		<td>{{ player.stamina }}</td>
	</tr>
	{% endfor %}
	</tbody>
	</table>
  </div>
  <div class="tab-pane" id="schedule">
  	{% for game in team.season_games %}
  	<a href="{% url 'dynasty.views.teams' %}{{ game.away_team.name|lower }}">{{ game.away_team.name }}</a> @
	<a href="{% url 'dynasty.views.teams' %}{{ game.home_team.name|lower }}">{{ game.home_team.name }}</a><br>
  	{% endfor %}
  </div>
</div>


{% endblock %}