a {
	color:darkgreen;
}
a:hover {
	color:darkgray;
}

ul.mainnav {
	background-color: green;

}
ul.rush {
	background-color: blue;

}

.nav a:hover {
	background-color: darkgreen; 
}
ul.nav a {
	color: black;
}
.gamepanel {
	display: inline-block;
}
tbody td {
	font-style: bold;
}
.player-table {
	table-layout: fixed;
}

/* THIS SHIT */
.tickercontainer { /* the outer div with the black border */
height: 40px;
margin: 0;
padding: 0;
overflow: hidden;
background-color: lightgray;
}
.tickercontainer .mask { /* that serves as a mask. so you get a sort of padding both left and right */
position: relative;
top: 8px;
height: 30px;
/*width: 718px;*/
overflow: hidden;
}
ul.newsticker { /* that's your list */
position: relative;
/*left: 750px;*/
font: bold 10px Verdana;
list-style-type: none;
margin: 0;
padding: 0;
-webkit-transition: all 0s linear;
    -moz-transition: all 0s linear;
    -o-transition: all 0s linear;
    transition: all 0s linear;
    list-style:none;
}
ul.newsticker li {
float: left; /* important: display inline gives incorrect results when you check for elem's width */
margin: 0;
padding-right: 15px;
/*background: #fff;*/
}