a {
	color:darkgreen;
}
a:hover {
	color:darkgray;
}

ul.mainnav {
	background-color: lightgreen;

}
ul.rush {
	background-color: blue;

}

.nav a:hover {
	background-color: darkgreen; 
}
ul.nav a {
	color: black;
}
.gamepanel {
	display: inline-block;
}
tbody td {
	font-style: bold;
}
.player-table {
	table-layout: fixed;
}